html{
  min-height:100%;
  position:relative;
}

body{
  font-family:'',sans-serif;
  margin:0;
}

header{
  text-align:center;
  height:10%;
}

footer{
  position:absolute;
  width:100%;
  left:0;
  bottom:0;
  box-sizing:border-box;
  height:15%;
  text-align:center;
}
