@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html{
  min-height:100%;
  position:relative;
  box-sizing:border-box;
}

body{
  box-sizing:inherit;
  font-family:'Roboto',sans-serif;
}

header{
  text-align:center;
  height:10%;
}

footer{
  position:absolute;
  width:100%;
  left:0;
  bottom:0;
  box-sizing:inherit;
  height:15%;
  text-align:center;
}

.game-space{
  width:80%;
  margin-left:auto;
  margin-right:auto;
  margin-top:1%;
  text-align:center;
}

.control{
  display: inline-block;
  margin: 1%;
  width: 10%;
  height: 10%;
}

#round-result{
  text-align: center;
  height: 10%;
}

.player{
  background-color:lightblue;
  float:left;
  width: 45%;
  height: 45%;
}

.opponent{
  background-color:lightcoral;
  float:right;
  width: 45%;
  height: 45%;
}

#player-image{
  max-height:50%;
  max-width:50%;
}

#opponent-image{
  max-height:50%;
  max-width:50%;
}